<h2>Add new post form</h2>
<p>
</p>

<form action="/new" method="POST" role="form">

  <div class="form-group">
    <label>Author</label>
    <input name="author" value="<%= @author %>" type="text" class="form-control" placeholder="Author">
  </div>
    <label>Post</label>
	<textarea name="content" class="form-control" rows="6" placeholder="Type text here"><%= @content %></textarea>
	<br />
  	<button type="submit" class="btn btn-primary">Submit</button>
</form>